.banner{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
}
.carpic{
    max-width: 100%;
}

.banner h1{
    font-size: 2.7rem;

}
.banner p{
    font-size: 1.5rem;
}

