
.listcar{
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.allcar{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding: 20px; */
}


.namecar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: blue;
}
.imgcar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


}
.precar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: black;
}
.descricar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.0rem;
    color: black;
}


  
.card {
    width: 250px;
    height: 600px;
    border-radius: 30px;
    background: lightgrey;
    padding: 10px;
    margin-bottom: 60px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
    

  }

.card:hover {
    -xpedu-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); 
   
}

.box {
    position: relative;
    width: 100px;
    height: 50px;
    overflow: hidden;
    border: none;
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-top-left-radius: 20px;
    cursor: pointer;
    border-bottom-right-radius: 20px;
    box-shadow: 0 0 10px rgb(104, 134, 218);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .box::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 200px;
    margin-top: -92px;
    background: linear-gradient(#00ccff,#d400d4);
    animation: amm 4s linear infinite;
  }
  
  @keyframes amm {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  .textbutton {
    position: relative;
    font-size: 1.2rem;
    font-weight: bold;
    z-index: 1;
    color: white;
  }
  
  .box::after {
    content: "";
    position: absolute;
    inset: 4px;
    background-color: black;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }