
.listcar{
    background-color: white;
    
}

.allcar{
    
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}



.namecar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: blue;
}
.imgcar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.precar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: black;
}
.descricar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: black;
}