.footer {
    display: flex;
    background-color: blue;
    display: flex;
    padding: 10px;
}
.footer h1{
    margin-right: 10px;
    color: white;
}

.footer a{
    padding: 10px;
}

.canto {
    

    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
}